<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Dashboard</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="container">

      <div class="row">
        <%@cards.each do |key,value|%>
          <%value.each do |key1, value1|%>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                <a href="#">
                <div class="panhara-card panhara-shadow <%=value1%>">
                  <i class="font-icon <%=key1%>"></i>
                  <span class="panhara-card-title"><%=key%></span>
                </div>
              </a>
              </div><!-- col-md-3 -->
          <%end%>
        <%end%>

      </div><!-- row -->

    </div>

    <footer>

    </footer>
  </main>
</div>
