/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
  @import "bootstrap";
  @import 'bootstrap-datetimepicker';
  @import "font-awesome";
  @import "material";
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
  }

// .mdl-card{
//   width: 200px;
// }

a:hover, a:focus {
  color: #23527c;
  text-decoration: none;
}

.mdl-grid{

}
//
// .mdl-card{
//   background: red;
// }
//
// .pr-card-image.mdl-card{
//   // width: 152px;
//   // min-height: 152px;
//   // border-radius: 10px;
//   margin: 0px;
// }
//
// a.pr-padding-right{
//   padding-right: 10px;
// }



.font-icon{
  text-align: center;
  padding-top: 35px;
  font-size: 72px;
  color: white;
}
//Icon Color
.card-blue-flat{
  background: #8f8fbf !important;
}

.card-pink-flat{
  background: #ff8080 !important;
}

.card-green-flat{
  background: #00aa88 !important;
}

.card-lighred-flat{
  background: #ff5599 !important;
}

.card-purple-flat{
  background: #d35fbc !important;
}

.card-orange-flat{
  background: #ff9955 !important;
}

.card-strong-blue-flat{
  background: #8d5fd3 !important;
}
/* xs < 768 */
@media screen and (max-width: 768px) {
  .panhara-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-card-title {
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }


}

/* sm */
@media screen and (min-width: 768px) {
  .panhara-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-card-title {
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }

}

/*  MD */
@media screen and (min-width: 992px) {
  .panhara-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 300px;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-card-title {
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }


}


/* lg */
@media screen and (min-width: 1200px) {
  .panhara-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 150px;
    overflow: hidden;
    width: 260px;
    z-index: 1;
    position: relative;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 30px;
  }

  .panhara-card-title {
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
  }


}

.panhara-shadow{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.panhara-card--expand {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.panhara-card-supporter-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 16px 16px;
  width: 90%;
}

.panhara-card-actions {
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
}

.panhara-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}
